
{% extends "base.html" %} {% block head %} {{ super() }}
<!--
write here if you want to add css links only in this page
<link
        rel="stylesheet"
        href="{{ url_for('static', filename= 'qwer.css') }}"
/>-->
{% endblock %} {% block content %}
<header class="masthead" style="background-image:url('/assets/img/contact-bg.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>Welcome {{ name }}</h1><span class="subheading">This is your private area.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto d-flex justify-content-center">
            <a type="button" class="btn btn-danger btn-lg rounded-pill" href="{{ url_for('logout_user') }}">Logout</a>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">

                <h2 class="section-heading">Your cart:</h2>
                {% for book in cart_books %}
                    <div class="col-lg-4 col-md-6 col-sm-12 book-card">
                        <div class="card h-100">
                            <img class="card-img-top card-img-book" src="{{ book.coverImg }}" style="object-fit: cover; height: 25rem;">
                            <div class="card-body p-4">
                            <h4 class="card-title">{{ book.title }}. Qty:  {{ book.quantity }}</h4>
                            <div class="book-details">
                                <div class="label">Author:</div>
                                <div class="value card-author">{{ book.author }}</div>
                            
                                <div class="label">Rating:</div>
                                <div class="value card-rating">{{ book.rating }}</div>
                            
                                <div class="label">Price:</div>
                                <div class="value card-price">{{ book.price }}</div>
                            
                                <div class="label">Total Price:</div>
                                <div class="value">{{ book.total_price }}</div>
                            </div>
                            
                            <div class="container mt-5">
                                    <a href="{{ url_for('book_details', id_book=book.bookId) }}" class="custom-link card-link">Book's details</a>
                                </div>
                            </div>
                        </div>                  
                    </div>
                {% endfor %}
        </div>
    </div>
</article>
{% endblock %}